body {
  font-family: sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.grid-item {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
}