body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  width: fit-content;
  margin: 100px;
}

.cell {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}