body {
  font-family: sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  border: 1px solid black;
  width: 400px;
  height: 400px
}

.grid-item{
  /* border: 0.5px solid black; */
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
  border-radius: 50%;
}