body {
  font-family: sans-serif;
}

.tab {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.selected {
  background-color: grey;
}

.container {
  border: 2px solid black;
  width: 400px;
  height: 200px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  height: inherit;
}

.navigation-button {
  align-self: center;
  flex-grow: 1;
  align-content: end;
}
