body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.grid-cell {
  border: 1px solid black;
  font-size: 40px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}