body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  column-gap: 30px;
}

.timer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.start-button {
  background-color: green;
  color: white;
  width: 100px;
  height: 35px;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
}

.pause-button {
  background-color: orange;
  color: white;
  width: 100px;
  height: 35px;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
}

.reset-button {
  background-color: orangered;
  color: white;
  width: 100px;
  height: 35px;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
}

.divider {
  align-self: flex-end;
  font-size: 30px;
}
.text {
  font-size: 25px;  
}

.input-box {
    width: 30px;
    border: unset;
    font-size: 25px;
    align-self: center;
    text-align: center;
}
