body {
  font-family: sans-serif;
}

.star-icon {
  --icon-size: 32px;

  cursor: pointer;
  height: var(--icon-size);
  width: var(--icon-size);
}

.star-icon-filled {
  fill: red;
}

.list{
  display: flex;
  flex-direction: row;
} 
